USE [master]
GO
/****** Object:  Database [Colpatria]    Script Date: 11/30/2022 1:38:41 PM ******/
CREATE DATABASE [Colpatria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Colpatria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Colpatria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Colpatria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Colpatria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Colpatria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Colpatria]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 11/30/2022 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CodCiudad] [varchar](5) NOT NULL,
	[CiudadNombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[CodCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposIdentificacion]    Script Date: 11/30/2022 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposIdentificacion](
	[IdTipoIdentificacion] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoIdenticacion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TiposIdentificacion] PRIMARY KEY CLUSTERED 
(
	[IdTipoIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentasSoat]    Script Date: 11/30/2022 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasSoat](
	[idSoat] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Poliza] [varchar](50) NOT NULL,
	[TipoIdenticacionTomador] [int] NOT NULL,
	[IdentificacionTomador] [varchar](13) NOT NULL,
	[NombreTomador] [varchar](80) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[FechaVencimientoPolizaActual] [date] NULL,
	[PlacaAutomotor] [varchar](6) NOT NULL,
	[CodCiudadVenta] [varchar](5) NOT NULL,
 CONSTRAINT [PK_VentasSoat] PRIMARY KEY CLUSTERED 
(
	[idSoat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ciudades] ([CodCiudad], [CiudadNombre]) VALUES (N'05001', N'MEDELLÍN')
INSERT [dbo].[Ciudades] ([CodCiudad], [CiudadNombre]) VALUES (N'05002', N'ABEJORRAL')
INSERT [dbo].[Ciudades] ([CodCiudad], [CiudadNombre]) VALUES (N'05004', N'ABRIAQUÍ')
GO
SET IDENTITY_INSERT [dbo].[TiposIdentificacion] ON 

INSERT [dbo].[TiposIdentificacion] ([IdTipoIdentificacion], [NombreTipoIdenticacion]) VALUES (1, N'Cédula Ciudadania')
INSERT [dbo].[TiposIdentificacion] ([IdTipoIdentificacion], [NombreTipoIdenticacion]) VALUES (2, N'NIT')
INSERT [dbo].[TiposIdentificacion] ([IdTipoIdentificacion], [NombreTipoIdenticacion]) VALUES (3, N'Tarjeta Identidad')
SET IDENTITY_INSERT [dbo].[TiposIdentificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[VentasSoat] ON 

INSERT [dbo].[VentasSoat] ([idSoat], [Cod_Poliza], [TipoIdenticacionTomador], [IdentificacionTomador], [NombreTomador], [FechaInicio], [FechaFin], [FechaVencimientoPolizaActual], [PlacaAutomotor], [CodCiudadVenta]) VALUES (1, N'52d68092-ef93-4660-b7fc-caed0e703552', 1, N'1036598444', N'Adrian Ramirez', CAST(N'2022-11-30' AS Date), CAST(N'2023-11-30' AS Date), CAST(N'2023-11-30' AS Date), N'KQC50F', N'05000')
SET IDENTITY_INSERT [dbo].[VentasSoat] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ciudades]    Script Date: 11/30/2022 1:38:41 PM ******/
ALTER TABLE [dbo].[Ciudades] ADD  CONSTRAINT [IX_Ciudades] UNIQUE NONCLUSTERED 
(
	[CodCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TiposIdentificacion]    Script Date: 11/30/2022 1:38:41 PM ******/
ALTER TABLE [dbo].[TiposIdentificacion] ADD  CONSTRAINT [IX_TiposIdentificacion] UNIQUE NONCLUSTERED 
(
	[IdTipoIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VentasSoat]    Script Date: 11/30/2022 1:38:41 PM ******/
ALTER TABLE [dbo].[VentasSoat] ADD  CONSTRAINT [IX_VentasSoat] UNIQUE NONCLUSTERED 
(
	[Cod_Poliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VentasSoat]  WITH CHECK ADD  CONSTRAINT [FK_VentasSoat_TiposIdentificacion] FOREIGN KEY([TipoIdenticacionTomador])
REFERENCES [dbo].[TiposIdentificacion] ([IdTipoIdentificacion])
GO
ALTER TABLE [dbo].[VentasSoat] CHECK CONSTRAINT [FK_VentasSoat_TiposIdentificacion]
GO
/****** Object:  StoredProcedure [dbo].[ConsultarSoat]    Script Date: 11/30/2022 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ConsultarSoat]
(
  @placa varchar(6),
  @id varchar(13)
)
AS
BEGIN
	
	SELECT * FROM VentasSoat WHERE PlacaAutomotor = @placa OR IdentificacionTomador = @id
END
GO
/****** Object:  StoredProcedure [dbo].[VenderPoliza]    Script Date: 11/30/2022 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VenderPoliza]
(
  @Cod_Poliza varchar(50),
  @TipoId int,
  @Id varchar(13),
  @Nombre varchar(80),
  @FechaInicio date,
  @FechaFin date,
  @FechaVencimiento date,
  @Placa varchar(6),
  @CodCiudadVenta varchar(5)
)
	
AS
BEGIN	


   IF NOT EXISTS (SELECT '' FROM Ciudades WHERE CodCiudad = @CodCiudadVenta) BEGIN

      RAISERROR('El codigo de la ciudad ingresada no es válida o no existe',16,217)
   END ELSE

   IF NOT EXISTS(SELECT '' FROM VentasSoat WHERE PlacaAutomotor = @Placa)BEGIN
	
	INSERT INTO [dbo].[VentasSoat]
           ([Cod_Poliza]
           ,[TipoIdenticacionTomador]
           ,[IdentificacionTomador]
           ,[NombreTomador]
           ,[FechaInicio]
           ,[FechaFin]
           ,[FechaVencimientoPolizaActual]
           ,[PlacaAutomotor]
           ,[CodCiudadVenta])
     VALUES
           (@Cod_Poliza
           ,@TipoId
           ,@Id
           ,@Nombre
           ,@FechaInicio
           ,@FechaFin
           ,@FechaFin
           ,@Placa
           ,@CodCiudadVenta)


   END ELSE BEGIN

      DECLARE @FechaVenActual date = (SELECT MAX(FechaVencimientoPolizaActual) FROM VentasSoat WHERE PlacaAutomotor = @Placa)
	 IF ( DATEDIFF(DAY, @FechaInicio, @FechaFin) > 1) BEGIN

	    RAISERROR('La fecha de inicio no puede ser mayor a un día de la fecha de vencimiento',16,217)
	 END


   END

END
GO
USE [master]
GO
